<% content_for :title do %>
	Messages
<% end %>
</br>
<table class="table table-striped">
  <h2>Your Messages</h2>
  <ul>
    <% current_user.received_messages.each do |message| %>
  	 	<li><% sender = message.user_id %>
  	 		<h4><%= User.find(sender).email %></h4>
		  		<%=  message.body %>
  		</li>
    <% end %>
    </br> 
  </ul>
</table>
<%= link_to 'send message', new_message_path, :class => "btn btn-mini" %>
