<p>
<li>
  <%= comment.user.email %>
  <%= comment.body %>
</li>
<% if comment.user == current_user %>
	<%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>  

<%end%>
</p>
