<p class="comment">
<li>
  <%= comment.user.email %>
  <%= comment.comment %>
</li>
<% if comment.user == current_user %>
	<%= link_to 'Destroy', [comment.commentable, comment],
              :remote => true,
              :confirm => 'Are you sure?',
              :method => :delete %>  
<%end%>
</p>
