<p>
<li>
  <%= comment.user.email %>
  <%= comment.body %>
</li>

<%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>  
</p>
