<% content_for :title do %>
	My Profile
<% end %>
<p><h3><%= link_to "Find Friends", users_path %></h3></p>
<table class ="table table-striped"> 
  <h2>Your Friends</h2>
  <ul>
    <% @user.friends.each do |user| %>
      <li><%=  user.email %></li>
    <% end %>  
  </ul>
</table>
</br>
<p><%= link_to "Posts",  posts_path, :class => "btn btn-primary"%></p>
</br>
<p><%= link_to "Messages",  messages_path, :class => "btn btn-primary"%></p>
