<tr>
  <td><%= post.body %></td>
  <td><%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?', class: 'btn btn-mini' } %></td>
  <td><%= link_to 'show post', post_path(post), class: 'btn btn-mini' %></td>
</tr>
